<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lapit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LapitWatchApp Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LapitWatchApp WatchApp Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RacingAI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD475B0B2EFDCC42007A7A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD475B3B2F005447007A7A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD6CAE242F1E6512003C403B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD81A01C2F237F91002FB448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD8E1B3C2F14E73C00BFF3B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADDB57ED2EB8E1B600131F3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADFCCECA2F0EB22F00265C0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADFCCF2E2F0EBA6C00265C0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
